In [1]:
import numpy as np
import pandas as pd
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import normalize

In [73]:
df= pd.read_csv("Data.csv")
df = df.drop(df.columns[0], axis=1)
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,-0.551600,-0.617801,-0.991390,-0.311169,1.468177,-0.470401,0.207971,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,1.612727,1.065235,0.489095,-0.143772,0.635558,0.463917,-0.114805,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,0.624501,0.066084,0.717293,-0.165946,2.345865,-2.890083,1.109969,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,-0.226487,0.178228,0.507757,-0.287924,-0.631418,-1.059647,-0.684093,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,-0.822843,0.538196,1.345852,-1.119670,0.175121,-0.451449,-0.237033,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [74]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df['Amount'] = scaler.fit_transform(df[['Amount']])

In [75]:
y = df.iloc[:, -1]
x = df.drop(df.columns[-1], axis=1)

In [76]:
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=42)
x_resampled, y_resampled = ros.fit_resample(x, y)

In [23]:
new_df = x.merge(y_resampled.to_frame(), left_index=True, right_index=True)

In [77]:
sample_size = len(new_df)

sample_indices = np.random.choice(new_df.index, size=sample_size, replace=False)
sampled_df_1 = new_df.loc[sample_indices, :]
sampled_df_1.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
120,-1.185954,-0.218808,1.101005,-1.406997,1.261783,-0.337709,1.191747,-0.427383,0.276679,-0.215399,-0.942965,-0.473710,0.061623,-0.410061,0.754377,0.283421,-0.905690,-0.738459,-0.454312,0.036974,-0.362830,-0.418817,0.521401,-0.922427,-0.139840,0.709787,-0.076249,-0.383942,-0.094675,0
721,-1.030747,0.894747,2.375620,0.218372,-0.862126,-0.180483,-0.260299,0.592381,-0.017765,-1.034505,-1.001594,0.296203,0.147484,-0.212703,0.001864,0.141085,0.052775,-0.029850,0.207955,-0.097825,0.006203,0.020326,-0.216072,0.435670,0.192864,0.351030,-0.066266,0.005583,-0.327188,0
487,-0.711928,1.547423,1.799759,2.489060,0.450497,1.073762,0.309374,0.450854,-1.560107,1.231356,1.738450,0.568283,0.247294,0.402147,1.077169,-0.409583,0.269362,-0.561708,0.385189,0.356887,-0.115133,-0.136653,0.052595,-0.327937,-0.531480,0.005533,0.515896,0.250372,-0.343525,0
439,1.384146,-0.729477,0.562339,-0.901506,-0.831961,0.299020,-1.086901,0.111688,-0.391830,0.551109,-0.900444,-0.671544,0.833701,-0.549967,1.396856,1.452193,-0.038199,-1.031048,0.224376,0.129870,0.354589,1.020045,-0.204474,-0.843692,0.492947,0.038608,0.053718,0.014774,-0.246210,0
638,1.093370,0.108995,0.100227,0.913194,0.084986,0.030469,0.087877,0.064277,-0.256511,0.120404,1.225781,0.830764,-0.088574,0.614135,0.505950,0.056696,-0.513619,0.016764,-0.330150,-0.064301,0.112292,0.265242,-0.162023,-0.294748,0.610165,-0.300513,0.017064,0.011275,-0.094928,0

In [80]:
interval = 2   # set the sampling interval
n = len(new_df)

# create a list of indices to sample
sample_indices = [i for i in range(n) if i % interval == 0]

# select the corresponding rows from the DataFrame
sampled_df_2 = new_df.iloc[sample_indices]

In [81]:
from sklearn.model_selection import StratifiedShuffleSplit

# set the target variable and the desired sample size
target_var = 'Class'
sample_size = int((1.96*1.96 * 0.5*0.5)/((0.05)**2))

# create a StratifiedShuffleSplit object
splitter = StratifiedShuffleSplit(n_splits=1, train_size=sample_size, random_state=42)

# split the data into training and testing sets, with stratification
for train_indices, test_indices in splitter.split(new_df, new_df[target_var]):
    sampled_df_3 = new_df.iloc[train_indices]

sampled_df_3.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
587,1.258778,-0.059313,0.314052,-0.111067,-0.503006,-0.704089,-0.156473,-0.051544,0.369292,-0.210176,-0.133846,-0.131048,-0.720067,0.423255,1.475942,0.000962,0.020428,-0.848828,-0.281283,-0.156057,-0.092730,-0.249496,0.086934,0.124848,0.141429,0.992693,-0.072256,-0.001743,-0.343423,0
78,-0.571521,1.071600,1.280110,0.542780,0.574439,-0.259359,1.061148,-0.410972,-0.179130,1.003501,1.062382,0.159422,-0.289860,0.005805,0.460441,-0.221035,-0.775852,0.657023,0.807583,0.354731,0.003559,0.561240,-0.199287,0.001387,-0.179530,-0.374116,0.071641,-0.175510,-0.297801,0
284,-0.938226,0.104717,1.309642,-0.867537,0.450685,-1.437502,0.650604,0.028360,-0.588678,-0.556394,1.156113,-0.218437,-2.049263,0.896912,-0.276749,0.463415,-0.500606,-0.221201,0.012237,0.004380,-0.237086,-1.150829,0.262462,0.475206,-0.516790,0.426883,-0.058198,0.107996,-0.145305,0
673,-2.149517,2.351164,0.992991,0.692643,0.231642,-0.020507,1.086606,-0.445825,1.880110,3.317525,-0.163521,-0.081915,-0.337022,-1.224884,0.454536,-1.654971,0.245136,-0.899635,0.467841,1.466182,-0.469893,0.144643,-0.182027,0.061734,0.289830,-0.267337,0.875691,0.121175,-0.337253,0
663,-1.377718,1.354530,0.543183,-1.427171,-0.124389,-0.524309,0.179124,0.616512,-0.151023,-0.748488,-0.915325,0.040002,0.027655,0.428552,0.646518,0.442836,-0.295907,-0.666709,-0.820429,-0.180028,0.008982,-0.075797,-0.057756,-0.388366,-0.296798,0.774677,-0.418797,-0.184978,-0.332144,0

In [82]:
from sklearn.cluster import AgglomerativeClustering

# Define the number of clusters to create
n_clusters = 5

# Define the linkage criterion to use for the hierarchical clustering
linkage = 'ward'

# Perform the hierarchical clustering
clusterer = AgglomerativeClustering(n_clusters=n_clusters, linkage=linkage)
cluster_labels = clusterer.fit_predict(new_df)

# Define a similarity measure based on the Euclidean distance between cluster centroids
centroids = np.array([new_df[cluster_labels == i].mean(axis=0) for i in range(n_clusters)])
distances = np.sqrt(((centroids[:, np.newaxis, :] - centroids[np.newaxis, :, :]) ** 2).sum(axis=-1))
similarity = 1 / (1 + distances)

# Define the minimum similarity threshold for selecting clusters
min_similarity = 0.8

# Extract the indices of the clusters that meet the similarity threshold
selected_clusters = set()
for i in range(n_clusters):
    if i not in selected_clusters:
        similar_clusters = set(np.where(similarity[i, :] >= min_similarity)[0])
        selected_clusters.update(similar_clusters)

# Extract the rows corresponding to the selected clusters
sampled_df_4 = new_df[np.isin(cluster_labels, list(selected_clusters))]
sampled_df_4.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,-0.551600,-0.617801,-0.991390,-0.311169,1.468177,-0.470401,0.207971,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.409447,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,1.612727,1.065235,0.489095,-0.143772,0.635558,0.463917,-0.114805,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,-0.333712,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,0.624501,0.066084,0.717293,-0.165946,2.345865,-2.890083,1.109969,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,1.567910,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,-0.226487,0.178228,0.507757,-0.287924,-0.631418,-1.059647,-0.684093,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.277334,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,-0.822843,0.538196,1.345852,-1.119670,0.175121,-0.451449,-0.237033,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.006685,0

In [83]:
# Quota Sampling
# Determine the overall proportion of fraud cases
fraud_prop = np.sum(new_df['Class'] == 1) / len(df)

# Determine the sample size required to meet the quota
sample_size = int((1.96*1.96 * 0.5*0.5)/((0.05)**2))

# Determine the number of fraud and non-fraud cases in the sample
fraud_quota = int(fraud_prop * sample_size)
non_fraud_quota = sample_size - fraud_quota

# Select a random sample of fraud and non-fraud cases to meet the quota
fraud_sample = df[df['Class'] == 1].sample(n=fraud_quota, random_state=42)
non_fraud_sample = df[df['Class'] == 0].sample(n=non_fraud_quota, random_state=42)

# Combine the samples into a single DataFrame
sampled_df_5 = pd.concat([fraud_sample, non_fraud_sample])
sampled_df_5.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
717,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,-0.066407,1.061539,1.112409,0.431152,-0.164533,-0.677749,-0.064626,-0.466099,-0.537378,-0.140598,0.002974,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,-0.342260,1
182,1.254914,0.350287,0.302488,0.693114,-0.371470,-1.070256,0.086781,-0.202836,0.035154,-0.282617,-0.073592,0.224821,0.211173,-0.284469,1.096192,0.480954,-0.006288,-0.295313,-0.196569,-0.079756,-0.287592,-0.832682,0.128083,0.339427,0.215944,0.094704,-0.023354,0.030892,-0.333712,1
639,-0.928088,0.398194,1.741131,0.182673,0.966387,-0.901004,0.879016,-0.156590,-0.142117,-0.574775,-0.478181,-0.426852,-1.493426,0.187921,-0.282355,-0.648150,-0.019449,-0.782172,-1.194998,-0.118283,0.066353,0.281378,-0.257966,0.385384,0.391117,-0.453853,-0.104448,-0.125765,-0.342260,1
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,1.612727,1.065235,0.489095,-0.143772,0.635558,0.463917,-0.114805,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,-0.333712,1
360,-0.491003,0.906953,1.645423,-0.083531,-0.195560,-0.710165,0.559119,0.116340,-0.538190,-0.122023,1.332971,0.241547,-0.960825,0.526003,0.229368,0.377200,-0.520008,0.186336,0.230867,0.062757,-0.168067,-0.517387,0.018650,0.491652,-0.277795,0.043841,0.253372,0.111749,-0.301645,0

In [110]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Define X and y variables for the sampled data
X = sampled_df_5.drop('Class', axis=1)
y = sampled_df_5['Class']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the Random Forest Classifier
rfc = RandomForestClassifier(n_estimators=100, random_state=42)
rfc.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = rfc.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)

accuracy

0.974025974025974

In [111]:
from sklearn.linear_model import RidgeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(sampled_df_5.drop('Class', axis=1), sampled_df_5['Class'], test_size=0.3, random_state=42)

# Train a Ridge Classifier on the training set
ridge_clf = RidgeClassifier(alpha=1.0, fit_intercept=True, normalize=True, random_state=42)
ridge_clf.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = ridge_clf.predict(X_test)

# Evaluate the accuracy of the predictions
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.9827586206896551

In [113]:
from sklearn.dummy import DummyClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X = sampled_df_5.drop('Class', axis=1)
y = sampled_df_5['Class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = DummyClassifier(strategy='most_frequent')

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
accuracy

0.974025974025974

In [114]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X = sampled_df_5.drop(columns=['Class'])
y = sampled_df_5['Class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Instantiate and fit the LDA model
lda = LinearDiscriminantAnalysis()
lda.fit(X_train, y_train)

# Use the trained model to predict the labels for the testing data
y_pred = lda.predict(X_test)

# Evaluate the accuracy of the model
accuracy = (y_pred == y_test).mean()
accuracy

0.974025974025974

In [115]:
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Split the sampled dataframe into features (X) and target variable (y)
X = sampled_df_5.drop(columns=['Class'])
y = sampled_df_5['Class']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a SVM classifier with a linear kernel
clf = svm.SVC(kernel='linear')

# Fit the model to the training data
clf.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = clf.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)

accuracy

0.974025974025974